:root {
    --primary-font: 'Poppins', sans-serif;
    --lottie-dimension: 300px;
}

.cart-container {
    box-sizing: border-box;
    font-family: var(--primary-font);
}

.cart-container .main-content .lottieContainer {
    transform: translate(-50%, -50%);
    width: var(--lottie-dimension);
    height: var(--lottie-dimension);
}

@media only screen and (max-width: 576px) {
    .cart-container .main-content .lottieContainer {
        width: auto;
        height: auto;
    }
}

@media only screen and (max-width: 768px) {
    .cart-container .main-content .cart-table-body .cart-row {
        border: none !important;
    }
}